<ion-modal-view> 
	<ion-content class='half-opcity-bg'>
		<div class="list">
			<div class="item padding dark-bg borderless">
				<video id="twitter_video" class="video-js vjs-default-skin"
					  controls preload="auto" width="100%" height="350"
					  data-setup='{"example_option":true}'>
				</video>
			</div>
		</div> 
		 
	</ion-content>
	<ion-footer-bar class="bar-dark" ng-click="closeSelectModal();">	 
		<button class="button button-calm  button-block no-margin">
			关  闭
		</button> 
	</ion-footer-bar>
</ion-modal-view>