

<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" ng-controller="NavbarController" style="margin-bottom: 0" ng-switch="isAuthenticated()">

        <div class="navbar-header">
            <span minimaliza-sidebar></span>
<!--            <form role="search" class="navbar-form-custom" method="post" action="views/search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>-->
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <!--
            <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer" dropdown>
                <a class="dropdown-toggle count-info" dropdown-toggle>
                    <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li ng-repeat="item in [1,3,6,16]">
                        <div class="dropdown-messages-box">
                            <a ui-sref="profile" class="pull-left">
                                <img alt="image" class="img-circle" src="assets/images/a7.jpg">
                            </a>

                            <div>
                                <small class="pull-right">{{item}}h ago</small>
                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="inbox">
                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle count-info" dropdown-toggle>
                    <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li ng-repeat="item in [1,2,3,4,5]">
                        <a ui-sref="inbox">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="notifications_tooltips">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            -->

            <li class="dropdown pointer" dropdown>
                <a class="dropdown-toggle" dropdown-toggle>
                <span>
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="hidden-tablet">
                        我的账户
                    </span>
                    <b class="caret"></b>
                </span>
                </a>
                <ul class="dropdown-menu">
                    <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                        &#xA0;<span>设置</span></a></li>
                    <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                        &#xA0;<span>修改密码</span></a></li>
                    <!--
                    <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions"><span class="glyphicon glyphicon-cloud"></span>
                        &#xA0;<span>Sessions</span></a></li>
                    -->
                    <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                        &#xA0;<span>退出</span></a></li>
                    <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                        &#xA0;<span>登录</span></a></li>

                    <!--
                    <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                        &#xA0;<span>Register</span></a></li>
                    -->
                </ul>
            </li>
            <li ng-switch-when="true" has-authority="ROLE_ADMIN" class="dropdown pointer" dropdown>
                <a class="dropdown-toggle" dropdown-toggle>
                <span>
                    <span class="glyphicon glyphicon-tower"></span>
                    <span class="hidden-tablet">Admin</span>
                    <b class="caret"></b>
                </span>
                </a>
                <ul class="dropdown-menu">
                    <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                        &#xA0;<span>Metrics</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                        &#xA0;<span>Health</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                        &#xA0;<span>Configuration</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                        &#xA0;<span>Audits</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                        &#xA0;<span>Logs</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                        &#xA0;<span>API Docs</span></a></li>
                    <li ng-show="{{ENV === 'dev'}}"><a href='/console' target="_tab"><span class="glyphicon glyphicon-hdd"></span>
                        &#xA0;<span>Database</span></a></li>
                </ul>
            </li>

        </ul>

    </nav>
</div>
